<section class="panel panel-dark" ng-if="reportParent.companyName">
    <!--<div class="panel-heading"><span class="glyphicon"></span>Group Summary</div>-->
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="col-md-12">
                <div class="invoice-inner" id="summary">
                    <table class="table table-bordered table-striped ">
                        <tr>
                            <th class="size-h3 text-center col-xs-12" colspan="12">
                                {{reportParent.companyName}}
                            </th>
                        </tr>
                        <tr>
                            <th class="text-left col-xs-8" colspan="8">{{reportParent.reportName}}</th>
                            <th class="text-center col-xs-2" style="font-size:small;" colspan="2">From:
                                {{reportParent.fromDate}}
                            </th>
                            <th class="text-center col-xs-2" style="font-size:small;" colspan="2">To:
                                {{reportParent.toDate}}
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center col-xs-8" style="font-size:small;" colspan="8">Group
                                Name: {{reportParent.partyName}}
                            </th>
                            <th class="text-center col-xs-2" style="font-size:small;" colspan="2">Opening
                                Balance
                            </th>
                            <th class="text-right col-xs-1" style="font-size:small;" colspan="1">
                                {{reportParent.openBalCr|number:2}}
                            </th>
                            <th class="text-right col-xs-1" style="font-size:small;" colspan="1">
                                {{reportParent.openBalDr|number:2}}
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center col-xs-2" style="font-size:small;" colspan="1">Date</th>
                            <th class="text-center col-xs-6" style="font-size:small;" colspan="7">
                                Particulars
                            </th>
                            <th class="text-center col-xs-1" style="font-size:small;" colspan="1">Vch.Type
                            </th>
                            <th class="text-center col-xs-1" style="font-size:small;" colspan="1">Vch.No
                            </th>
                            <th class="text-right col-xs-1" style="font-size:small;" colspan="1">Credit</th>
                            <th class="text-right col-xs-1" style="font-size:small;" colspan="1">Debit</th>
                        </tr>
                        <!--ng-reapet-->
                        <tr ng-repeat="child in reportChild track by $index">
                            <td class="text-center col-xs-2" style="font-size:small;" colspan="1">
                                {{child.date}}
                            </td>
                            <td class="text-left col-xs-6" style="font-size:small;" colspan="7"><a
                                    ng-href="#voucher/create/{{child.id}}">{{child.particulars}}</a></td>
                            <td class="text-left col-xs-1" style="font-size:small;" colspan="1">
                                {{child.vType}}
                            </td>
                            <td class="text-left col-xs-1" style="font-size:small;" colspan="1">
                                {{child.vNo}}
                            </td>
                            <td class="text-right col-xs-1" style="font-size:small;" colspan="1">
                                {{child.credit|number:2}}

                            </td>
                            <td class="text-right col-xs-1" style="font-size:small;" colspan="1">
                                {{child.debit|number:2}}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center col-xs-8" style="font-size:small;" colspan="8"></th>
                            <th class="text-center col-xs-2" style="font-size:small;" colspan="2">Current
                                Total:
                            </th>
                            <th class="text-right col-xs-1" style="font-size:small;" colspan="1">
                                {{reportParent.crAmount|number:2}}
                            </th>
                            <th class="text-right col-xs-1" style="font-size:small;" colspan="1">
                                {{reportParent.drAmount|number:2}}
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center col-xs-8" style="font-size:small;" colspan="8"></th>
                            <th class="text-center col-xs-2" style="font-size:small;" colspan="2">Closing
                                Balance
                            </th>
                            <th class="text-right col-xs-1" style="font-size:small;" colspan="1">
                                {{reportParent.totalCr|number:2}}
                            </th>
                            <th class="text-right col-xs-1" style="font-size:small;" colspan="1">
                                {{reportParent.totalDr|number:2}}
                            </th>
                        </tr>
                    </table>
                </div>
                <button id="delete" type="button" class="btn btn-line-primary"
                        data-ng-click="printInvoice()">
                    Print
                </button>
            </div>
        </div>
    </div>
</section>