<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
<!--<meta charset="UTF-8">-->
<!--<title></title>-->
<!--</head>-->
<!--<body>-->
<!--<my-grid ajax-data-url="../company/gridData"-->
<!--ajax-grid-def="../company/gridDef"-->
<!--ajax-delete-id="../company/delete"-->
<!--ajax-menu-def="../company/menuDef">-->

<!--</my-grid>-->
<!--</body>-->
<!--</html>-->

<div class="page page-dashboard" data-ng-controller="UserCtrl" xmlns="http://www.w3.org/1999/html">

    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-dark">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>User
                    <a href="#user/create" class="pull-right btn btn-default btn-xs">New</a>
                </div>
                <div class="panel-body">
                    <my-grid ajax-data-url="../user/gridData"
                             ajax-grid-def="../user/gridDef"
                             ajax-delete-id="../user/delete"
                             ajax-menu-def="../user/menuDef">
                    </my-grid>
                </div>
            </section>
        </div>
    </div>

</div>